body{
    background-color: rgb(109, 111, 92);
    padding-left: 30%;
    padding-top: 5%;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(197, 181, 0);
    padding-left: 10%;
}